include collider.py setup.py SRM_parameters.py uis_functions.py 
include precursor.py Fileparser.py
include runcollider.py run_uis.py run_eUIS.py
include scripts/*
include cpp/CMakeLists.txt
include cpp/*.cpp cpp/*.h cpp/*.C
include cpp/test/*.C
include cpp/py/*.cpp cpp/py/*.h
include test/*.py test/*/*.py 
include test/sqltest*.out
include cgi-scripts/* css/* srmcollider_website_helper.py
include DDB.py progress.py Residues.py
include Release/ReleaseNotes

